@font-face {
  font-family: Mulish;
  src: url("../fonts/Mulish.ttf");
}

#mentorgoalextension_contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 8px;

  position: absolute;
  width: 360px;
  height: 466px;
  left: 0px;
  top: 0px;

  /* white */

  background: #ffffff;
  /* LgShadow */

  box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.04),
    1px 3px 32px rgba(42, 64, 84, 0.08);
  border-radius: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#mentorgoalextension_contactHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 344px;
  height: 32px;
  left: 8px;
  top: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 32px 0px;
}

#mentorgoalextension_contactHeaderText {
  position: absolute;
  width: 328px;
  height: 20px;
  left: 4px;
  top: 0px;

  /* size8/bold/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 0px;
}

#mentorgoalextension_contactHeaderDivider {
  position: absolute;
  width: 344px;
  height: 4px;
  left: 0px;
  top: 28px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

#mentorgoalextension_contactContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 324px;
  left: 24px;
  top: 60px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px 0px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#mentorgoalextension_contactContentContainer::-webkit-scrollbar {
  position: static;
  width: 6px;
  height: 135px;
  left: 338px;
  top: 0px;

  /* Primary/primary150 */

  background: white;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#mentorgoalextension_contactContentContainer::-webkit-scrollbar-thumb {
  width: 6px;
  height: 135px;
  left: 338px;
  top: 0px;

  /* Primary/primary150 */

  background: #c8d3dc;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

#mentorgoalextension_contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 286px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#mentorgoalextension_firstnameInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 0px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactFirstnameLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactFirstnameInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 80px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactNameLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactNameInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactJobContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 160px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactJobLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactJobInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactPlaceInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 240px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactPlaceLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactPlaceInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactUrlInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 320px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactUrlLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactUrlInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactMailInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 400px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactMailLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactMailInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactPhoneInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 294px;
  height: 64px;
  left: 0px;
  top: 480px;

  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

#mentorgoalextension_contactPhoneLabel {
  position: absolute;
  width: 294px;
  height: 20px;
  left: 0px;
  top: 0px;

  /* size8/regular/normal */

  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Primary/primary300 */

  color: #7590a8;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactPhoneInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;

  position: absolute;
  width: 264px;
  height: 40px;
  left: 0px;
  top: 24px;

  /* Primary/primary50 */

  background: #f6f8f9;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

#mentorgoalextension_contactFormButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;

  position: absolute;
  width: 296px;
  height: 52px;
  left: 16px;
  top: 356px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
}

#mentorgoalextension_contactFormButtonDivider {
  position: absolute;
  width: 296px;
  height: 4px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

#mentorgoalextension_contactFormButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;

  position: absolute;
  width: 103px;
  height: 40px;
  left: 193px;
  top: 12px;

  /* Primary/primary700P */

  background: #2a4054;
  border-radius: 4px;
  color: white;
  border: none;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
  cursor: pointer;
}

#mentorgoalextension_contactForm > div > input:hover {
  border: 1px solid #c8d3dc;
  box-sizing: border-box;
}

#mentorgoalextension_contactForm > div > input:focus {
  border: 1px solid #466a8b;
  box-sizing: border-box;
}
